@model  Zamawianie_biletow.Models.Product

<h1>Szczeguły zakupu:</h1>

<p>Numer tranzakcji: @Model.Id</p>
<p>Bilety normalne: @Model.Normal</p>
<p>Bilety ulgowe: @Model.Reduced</p>
<p>Dane Kupującego: @Model.UserName @Model.UserSurname</p>
